:root{
    --color-red: #fa9999;
    --color-background: #a5a4a4;
    --color-hover: #f0f0f0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-background);
}

.container-login{
    background-color: #fff;
    padding: 60px;
    border-radius: 15px;
    width: 550px;
    height: 670px;

}

.container-login h1{
    text-align: center;
    margin-bottom: 15px;
    font-weight:900;
}

.container-login h2 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 50px;
}

input{
    display: block;
    width: 100%;
    padding: 15px 15px;
    border-radius: 25px;
    border: none;
    font-family: inherit;
    border: 2px solid #eee;
    font-size: 16px;
    color: #000;
}

.input-password{
    position: relative;
}

.btn-hide-show{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    background: none;
    padding: 0 20px;
    cursor: pointer;
}

input:focus{
    outline: none;
    border: 2px solid #85c89c;
}

input:focus:invalid{
    border: 2px solid #fa9999;
}

input::-webkit-input-placeholder{
    color: #878b8b90;
    font-weight: 500;
}

#show-password{
    display: none;
    
}

input:not(:last-child){
    margin-bottom: 15px;
}

.paragraph-1{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.paragraph-2 {
    font-weight: 600;
    font-size: 14px;
    margin: 25px 0;
    text-align: center;
}

.btn-sign-in{
    display: block;
    width: 100%;
    padding: 15px 0;
    border: none;
    background-color: var(--color-red);
    border-radius: 25px;
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
    box-shadow: 0px 0px 5px 0px rgba(201, 199, 201, 0.92);
}

.btn-sign-in:hover{
    background-color: #f7aeae;
    color: #fdfcfc;
}

.container-btn-login-with{
    display: flex;
    gap: 10px;
}

.btn-login-with{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 15px;
    font-weight: 900;
    border-radius: 25px;
    cursor: pointer;
    font-size: 13px;
    box-shadow: 0px 0px 5px 0px rgba(201, 199, 201, 0.92);
}

.btn-login-with i{
    font-size: 22px;
    margin-right: 10px;
}

.btn-login-with:hover{
    background-color: #fee5e5;
    color: #fff;
}

.create-account{
    text-align: center;
    margin-top: 25px;
    font-weight: 500;
}

.create-account a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

.footer{
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
}